<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
  <head>
    <meta charset="UTF-8" th:remove="tag">
  </head>
  <body>
    <div layout:fragment="content">
      <table class="userUpdate">
        <thead class="bg-primary text-white">
		  <tr>
	        <th>ユーザ名</th>
	        <th>フォロー数</th>
	        <th>フォロワー数</th>
	        <th>フォロー</th>
	      </tr>
        </thead>
        <tbody>
		  <tr th:each="user: ${users}" th:object="${user}"  >
            <td><a th:href="@{/microBlog/admin/tweet/view/{id}(id=*{id})}" th:text="*{nickname}" ></a></td>
            <td th:text="*{followed.size}"></td>
			<td th:text="*{following.size}"></td>
			<td th:if="${#lists.contains(userIds, user.id)}">フォロー中</td>
			<td th:unless="${#lists.contains(userIds, user.id)}"><a th:href="@{/microBlog/admin/follow/create/{id}(id=*{id})}" >フォローする</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
>