<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
  <head>
    <meta charset="UTF-8" th:remove="tag">
  </head>
  <body>
    <div layout:fragment="content">
      <form th:action="@{/microBlog/user/create}" th:object="${userForm}" method="post">
        <ul th:if="${#fields.hasErrors()}" class="alert alert-danger" role="alert">
          <li th:each="err : ${#fields.errors('*')}">
            <span th:text="${err}"></span>
          </li>
        </ul>
		
		<h4>新規ユーザ登録</h4>
	<table>
        <tr class="form-group" th:classappend="${#fields.hasErrors('email')} ? error">
          <th for="email">メールアドレス(ユーザID)</th>
          <td><input class="form-control" type="text" th:field="*{email}"></td>
        </tr>
        <tr class="form-group" th:classappend="${#fields.hasErrors('password')} ? error">
          <th for="password">パスワード</th>
          <td><input class="form-control" type="password" th:field="*{password}"></td>
        </tr>
		<tr class="form-group" th:classappend="${#fields.hasErrors('passwordConfirm')} ? error">
          <th for="password">パスワード(確認用)</th>
          <td><input class="form-control" type="password" th:field="*{passwordConfirm}"></td>
        </tr>
		<tr class="form-group" th:classappend="${#fields.hasErrors('nickname')} ? error">
          <th for="nickname">ニックネーム</th>
          <td><input class="form-control" type="text" th:field="*{nickname}"></td>
        </tr>
	</table>
		<div id="bottom-space"></div>
        <div id="register">
          <input class="btn btn-primary" type="submit" value="登録">
        </div>
      </form>
    </div>
  </body>
</html>
